*{
  color:#696969;
  font-family:Arial, Helvetica, sans-serif;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 1.5rem;
}

h2.project-tile{
  color:gray;
}

a:hover{
  color:#32CD32;
}

section#welcome-section{
  padding-top:0px;
  margin-top:0px;
  display: block;
  height: 100vh;
  color:gray;
}

.container{
  margin-top: 150px;

}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  box-sizing:border-box;
}

.row{
  margin:0 -5px;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 16px;
  text-align: center;
  background-color:#f1f1f1;
}
h2.project-tile a:hover{
  color:#32CD32;

}

@media screen and (max-width: 600px){
  .column{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px){
  a.nav-link{
  float:none;
  }
}

.project-tile a{
  color:gray;
  text-decoration: none;
}

.nav-link{
  color:#ffffff;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  padding:15px;
  float:right;
}

.footer-nav-link{
  color:gray;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}

.contact-list{
  text-align: center;
}

#navbar{
  display:inline-block;
  position:fixed;
  background-color:gray;
  top:0;
  width:100%;
}

#about{
  font-size: 2.5rem;
  text-align: center;
  font-style: oblique;
}

#contact-h2{
  text-align: center;
}

#footer{
  float:right;
  padding:20px;
}
